<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title_page}</title>
  <link rel="stylesheet" href={style_file}>
</head>

<body>

{header}


<section class="reviews">

    {review-item}

    <div class="send-form">
        <div class="heading">Оставьте свой отзыв</div>
        <form method="POST">
            <div class="form-group">
                <div class="form-group__item">
                    <label for="name" class="form-label">Имя:</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Ваше имя..." required>
                </div>
                <div class="form-group__item">
                    <label for="message" class="form-label">Сообщение:</label>
                    <textarea name="message" id="message" class="form-control" placeholder="Ваш отзыв..." required></textarea>
                </div>
            </div>
            <div class="action">
                <div
                <label for="rank" class="form-label">Оценка:</label>
                <input type="text" name="rank" id="rank" class="form-control" placeholder="5..." required>
                <button type="submit" class="form-submit">Отправить</button>
            </div>
        </form>
    </div>
</section>


{footer}

</body>

</html>
