<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acoustic</title>
    <link rel="stylesheet" href={style_file}>
  </head>

  <body>

    {header}

    <section class="product">
      <div class="product-container">
        <div class="product-image">
          <img src={img_guitar} alt="Картинка">
        </div>
        <div class="product-description">
          <h2>{name}</h2>
          <p>{text}</p>
        </div>
      </div>
    </section>

    {footer}

  </body>
</html>
