<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title_page}</title>
  <link rel="stylesheet" href={style_file}>
</head>

<body>

{header}


<section class="welcome">
  <div class="welcome-text">
    <h1 class="welcome-hello">Hello!</h1>
    <div class="welcome-description">
      <p><i>We love music...</i></p>
      <p><i>And your neighbors will love it too...</i></p>
    </div>
  </div>
</section>

<!-- <section class="slogan">
  <div>
    <p>We have best Guitars ever!</p>
  </div>
</section> -->

<section class="guitar-shop">
  <div class=""></div>
  <div class="guitar-gallery">
    {guitar-gallery}
  </div>
</section>


{footer}

</body>

</html>
